img.hero {
    margin-bottom: 4rem;
}

main section.master {
    display: grid;
    grid-template-columns: 0.48fr 1fr;
    gap: 8rem;
    align-items: flex-start;
}

main section.master>div:first-child {
    border-top: 2px solid var(--secondary-grey);
    border-bottom: 2px solid var(--secondary-grey);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: sticky;
    top: 10px;
}

main section.master .tags {
    margin: 1rem 0;
}

main section.master .tags,
main section.master .tecs {
    color: var(--primary-cyan);
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}

main section.master>div:last-child p {
    margin: 2rem 0;
}

main section.master>div:last-child img {
    margin: 1rem 0;
}

main section.paginate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-top: 2px solid var(--secondary-grey);
    border-bottom: 2px solid var(--secondary-grey);
}

main section.paginate>div {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    transition: all 0.2s;
}

main section.paginate>div:hover {
    gap: 3rem;
}

main section.paginate>div:hover h3 {
    gap: 3rem;
    color: var(--primary-cyan);
}

main section.paginate>div:last-child {
    text-align: right;
}

main section.paginate>div span {
    opacity: 0.5;
    line-height: 30px;
}

main section.paginate>div a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}